*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: linear-gradient(#010101,#322a49);
}

html{
	font-size: 10px;
}

a{
	text-decoration: none;
	color: #eee;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}

.brand span{
	color: rgb(5, 212, 253);
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: rgb(5, 212, 253);
	left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

.card {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
}
.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card .circle::before {
    content: '';
    position: absolute;
    top:0;
    Left:0;
    width:100%;
    height:100%;
    background:#b9234c;
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.card:hover .circle:before {
    background:rgb(5, 212, 253);
    clip-path:circle(300px at center);
}
.card img {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}
.card:hover img {
    Left: 83%;
    height: 500px;
}
.card .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}
.card .content h2 {
    font-style: italic;
    color: l#fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}
.card .content p {
    font-weight: lighter;
    font-size: medium;
    color: #fff;
}
.card .content a{
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: #111;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}
@media (max-width: 991px)
{
  .card
  {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
  }
  .card:hover
  {
    height: 600px;
  }
  .card .content
  {
    width: 100%;
    Left: 0;
    padding: 40px;
  }
  .card:hover img 
  {
    top:70%;
    Left:50%;
    height:320px;
  }

}